<% include partials/header %>

<div class="container">
	<div class="row">
	 <h1 style="text-align:center"><strong>Edit comment</strong></h1>
     <div style="width:30%; margin: 30px auto">
		 <form  action="/campgrounds/<%= campgrounds_id%>/comments/<%=comments._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<input type="text" value="<%= comments.text %>" name="comment[text]" class="form-control">
		</div>
		<!-- </form>div class="form-group">
			 <input type="text" placeholder="author" class="form-control" name="comment[author]">
		</div>	 -->
		<div class="form-group">
			<button type="submit" class="btn btn-lg btn-primary btn-block ">submit</button>
		</div> 
		 </form>
		 <a class="btn btn-default btn-sm" href="/campgrounds">go back to campgrounds</a>	
     </div>
	
	</div>	
</div>


<% include partials/footer %>